* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, ul, li, span {
  font-family: Calibri, sans-serif;
  font-size: 20px;
}

p {
  font-family: Calibri, sans-serif;
  font-size: 18px;
}

ul.navbar {
    background-color: #333333;
    margin: 0;
    padding: 0;
}

ul.navbar li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.navbar li a {
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #000000;
}

/* change button colors when clicked */
.active {
  background-color: #b50d0d;
}

.content {
  padding: 15px;
}

.footer {
  background-color: #333333;
  padding: 10px;
  text-align: center;
}

.footer p {
  color: #ffffff;
  font-size: 16px;
}
